* {
    margin: 0;
}
#header {
    width: 100%;
    height: 120px;
    text-align: center;
    border-bottom: 4px solid silver;
    background: linear-gradient(#c2e7f7, #6a95ff);
    color: #fff;
    float: left;
}


.walker {
    display: none; /* Скрываем элемент по умолчанию */
    position: absolute;
    left: 0;
    font-size: 30px;
    animation: walk 5s linear forwards, disappear 5s linear forwards;
}

    .walker img {
        width: 70px;
        height: auto;
        margin: 20px;
    }

/* Движение слева направо */
@keyframes walk {
    from {
        left: 1%;
    }

    to {
        left: 20%;
    }
}

/* Исчезновение изображения после анимации */
@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0; /* Изображение исчезает */
    }
}