* {
    margin: 0;
}

.video-container {
    text-align: center;
   
}
.photo-container img {
    width: 20%;
    height: auto;
}
iframe {
    width: 20%;
    aspect-ratio: 16 / 9; /* Автоматический расчет высоты */
    height: auto;
}
#video {
    font-size: 30px;
}


#main {
    justify-content: center;
    align-items: center;
    width: 100%;
    float: left;
}

.search-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.search-field {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    width: 300px; 
}

