
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<footer>
    <div id="footer">
        <p>Свяжитесь с нами: contact@example.com</p>
        <div class="social-icons">
            <a href="https://vk.com" target="_blank"><i class="fab fa-vk"></i></a>
            <a href="https://t.me" target="_blank"><i class="fab fa-telegram"></i></a>
            <a href="https://rutube.ru" target="_blank"><i class="fas fa-play-circle"></i></a>
        </div>
        <p>© 2025</p>
    </div>
</footer>

