<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script src="../Static/JS/index.js"></script> <!--defer type="text/javascript"  - отложенный запуск-->

    <script>
        // Проверка на возраст
        // checkAge();

        // сохранение сессии
        handleSession()

        // вывод данных сессии в консоль
        sessionLog();

        // Функция объявлена через expression
        const inputParseFunction = function () {
            return document.getElementsByTagName('input')[1].value.toLowerCase();
        }
    </script>

</head>

<body>
    <div id="header">
        <!--Заголовок страницы-->
        <h1>LifeSpot - путешествие по миру</h1>
        <!--Параграф-->
        <p>Прогулка по улицам</p>
        <!--Кнопки, обернутые в ссылки-->

        <button type="button" onclick="window.location.href='../testing'">testing</button>



        <a <!--href="https://rutube.ru/play/embed/d09026b635cba618c3ea161d14f60724"-->
        <button type="button">Англия, Лондон</button>
        </a>
        <a href="https://rutube.ru/play/embed/ae15cb9529157403cef89378601c8625">
            <button type="button">Греция, остров Парос</button>
        </a>
        <a href="https://rutube.ru/play/embed/919296898339c6115d3792b8235a6f32">
            <button type="button">Греция, остров Корф</button>
        </a>

        <!-- Шагающий человек-->
        <div class="walker">
            <img src="/Source/walk.gif" alt="Шагающий человек">
        </div>

    </div>
    <div id="aside"></div>

    <div id="main">

        <!--<div>
            <a class="home-link home-tabs__search" data-id="video" href="/profile" target="_blank" rel="noopener"
               data-statlog="tabs.video">Использовано 2 class name </a>
        </div>-->
        <div class="search-container">
            <input type="text" class="search-field" placeholder="Поиск...">
            <button type="button" class="search-button">Поиск</button>
        </div>
        <div class="search-container">
            <input type="text" class="search-field" placeholder="Поиск вариант 2..." oninput="



       // Вызов (функция в аргумент передаётся без круглых скобок)
       filterContent( inputParseFunction )">
            <button type="button" class="search-button">Поиск</button>
        </div>


        <div class="video-container photo-container">
            <h3 class="video-title ">Давай по новой</h3>
            <img src="https://a.d-cd.net/7cde8s-960.jpg" alt="Описание картинки">
        </div>


        <div class="video-container">
            <h3 class="video-title">Англия, Лондон</h3>
            <iframe src="https://rutube.ru/play/embed/d09026b635cba618c3ea161d14f60724"
                    frameBorder="0"
                    allow="clipboard-write; autoplay"
                    webkitAllowFullScreen
                    mozallowfullscreen
                    allowFullScreen></iframe>
        </div>

        <div class="video-container">
            <h3 class="video-title">Греция, остров Парос</h3>
            <iframe src="https://rutube.ru/play/embed/ae15cb9529157403cef89378601c8625"
                    frameBorder="0"
                    allow="clipboard-write; autoplay"
                    webkitAllowFullScreen
                    mozallowfullscreen
                    allowFullScreen></iframe>
        </div>

        <div class="video-container">
            <h3 class="video-title">Греция, остров Корфу</h3>
            <iframe src="https://rutube.ru/play/embed/919296898339c6115d3792b8235a6f32"
                    frameBorder="0"
                    allow="clipboard-write; autoplay"
                    webkitAllowFullScreen
                    mozallowfullscreen
                    allowFullScreen></iframe>
        </div>
    </div>

</body>
<!--FOOTER-->
</html>