<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script src="../Static/JS/index.js"> </script> <!--defer type="text/javascript"  - отложенный запуск-->

    <script>
        // Проверка на возраст
       // checkAge();

        // сохранение сессии
        handleSession()

        // вывод данных сессии в консоль
        sessionLog();

        // Функция объявлена через expression
        const inputParseFunction = function () {
            return document.getElementsByTagName('input')[1].value.toLowerCase();
        }
    </script>

</head>

<body>
    <div id="header">
        <!--Заголовок страницы-->
        <h1>LifeSpot - путешествие по миру</h1>
        <!--Параграф-->
        <p>Прогулка по улицам</p>
        <!--Кнопки, обернутые в ссылки-->

        <button type="button" onclick="window.location.href='../testing'">testing</button>



        <a <!--href="https://rutube.ru/play/embed/d09026b635cba618c3ea161d14f60724"-->
        <button type="button">Англия, Лондон</button>
        </a>
        <a href="https://rutube.ru/play/embed/ae15cb9529157403cef89378601c8625">
            <button type="button">Греция, остров Парос</button>
        </a>
        <a href="https://rutube.ru/play/embed/919296898339c6115d3792b8235a6f32">
            <button type="button">Греция, остров Корф</button>
        </a>

        <div class="walker">
            <img src="https://s211vla.storage.yandex.net/rdisk/be7e7dbef2e102e3879dfaa403c9e976c391d40a9df0dba36d6856d3903082bd/67c8819b/fKqInKw3d7bLFOeFnMGnhNU8l7QhY1FZO29QISw37cBMGMq9xCkz31aclluqERJoiLLGQWAXb7I2KQphg6MsxXOgfZSwG4OGPVBaY78tEAKr8npumZHI4midPdWhecNq?uid=0&filename=walk.gif&disposition=inline&hash=&limit=0&content_type=image%2Fgif&owner_uid=0&fsize=79359&hid=b4d8d82abdf9a7e2b5b7932180ec9d52&media_type=image&tknv=v2&etag=ba00ead4a60e9dcc4f1f752822d74e04&ts=62f9b3b9f5cc0&s=0f0662081644c7877ab7149282bd8f27d54f942144eae64ea1629b68b582a99a&pb=U2FsdGVkX1_dDfNlzv9qJ0zEbzlcxD72-_n9di94ca5768HdxVV2tIBNjcSPlgWogQbctgIlWxJwkGvp_8mqLYWkahQrhC9seGtM4covrpU72-uNq11L-mHh7Y-bm3pQ" alt="Шагающий человек">
        </div>
    </div>
    <div id="aside"></div>

    <div id="main">

        <!--<div>
            <a class="home-link home-tabs__search" data-id="video" href="/profile" target="_blank" rel="noopener"
               data-statlog="tabs.video">Использовано 2 class name </a>
        </div>-->
        <div class="search-container">
            <input type="text" class="search-field" placeholder="Поиск...">
            <button type="button" class="search-button">Поиск</button>
        </div>
        <div class="search-container">
            <input type="text" class="search-field" placeholder="Поиск вариант 2..." oninput="



       // Вызов (функция в аргумент передаётся без круглых скобок)
       filterContent( inputParseFunction )">
            <button type="button" class="search-button">Поиск</button>
        </div>


        <div class="video-container photo-container">
            <h3 class="video-title ">Давай по новой</h3>
            <img src="https://a.d-cd.net/7cde8s-960.jpg" alt="Описание картинки">
        </div>


        <div class="video-container">
            <h3 class="video-title">Англия, Лондон</h3>
            <iframe src="https://rutube.ru/play/embed/d09026b635cba618c3ea161d14f60724"
                    frameBorder="0"
                    allow="clipboard-write; autoplay"
                    webkitAllowFullScreen
                    mozallowfullscreen
                    allowFullScreen></iframe>
        </div>

        <div class="video-container">
            <h3 class="video-title">Греция, остров Парос</h3>
            <iframe src="https://rutube.ru/play/embed/ae15cb9529157403cef89378601c8625"
                    frameBorder="0"
                    allow="clipboard-write; autoplay"
                    webkitAllowFullScreen
                    mozallowfullscreen
                    allowFullScreen></iframe>
        </div>

        <div class="video-container">
            <h3 class="video-title">Греция, остров Корфу</h3>
            <iframe src="https://rutube.ru/play/embed/919296898339c6115d3792b8235a6f32"
                    frameBorder="0"
                    allow="clipboard-write; autoplay"
                    webkitAllowFullScreen
                    mozallowfullscreen
                    allowFullScreen></iframe>
        </div>
    </div>


    <div id="footer">
        <p>Свяжитесь с нами: contact@example.com</p>
        <div class="social-icons">
            <a href="https://vk.com" target="_blank"><i class="fab fa-vk"></i></a>
            <a href="https://t.me" target="_blank"><i class="fab fa-telegram"></i></a>
            <a href="https://rutube.ru" target="_blank"><i class="fas fa-play-circle"></i></a>
        </div>
        <p>© 2025</p>

    </div>


</body>

</html>